body {
    background-color: #444;
}

button {
    padding: 5px;
    margin: 5px;
    bottom: 70%;
    border-radius: 5px;
}

img.centericonplace {
    display: block;
    margin: 0 auto;
}

.gameoptions {
    margin-left: 500px;
}

